# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình môi trường ảo (Virtual Environments)
.venv/
venv/
ENV/
env/

# Database (Không nên đưa file DB thực tế lên GitHub để tránh lộ dữ liệu)
*.db
*.sqlite3

# Thư mục chứa các tệp tạm của Flask/Python
.pytest_cache/
.coverage
htmlcov/
.flaskenv

# IDEs (Visual Studio Code, PyCharm, etc.)
.vscode/
.idea/

# Hệ điều hành
Thumbs.db
.DS_Store

# Log files
*.log